@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    /* justify-content: space-between; */
    height: 5rem;
    /* width: 100%; */
    max-width: 90rem;
    background-color: white;
    align-items: center;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
}

.link:hover{
    color: rgb(255, 77, 79);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    /* width: 100%; */
    height: 3.5rem;
    padding: 1rem 4.8rem;
}



.logo {
    display: flex;
    /* margin-left: 5rem; */
    font-size: 2rem;
    color: rgb(255, 77, 79);
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    /* padding-top: 0.4rem; */

}

.menu {
    display: flex;
    gap: 2.2rem;
}

.link {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.button {
    display: flex;
    justify-content: right;
    align-items: center;
    /* height: 3rem; */
    /* width: 7rem; */
    gap: 1rem;
    /* margin-left: 10rem;  */
}


.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 5rem;
    border-radius: 1rem;
    border: 1px solid rgb(255, 77, 79);
    background-color: transparent;
    color: rgb(255, 77, 79);
    font-weight: 750;
    font-size: 0.8rem;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.1rem;
    width: 5.5rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(255, 77, 79);
    color: white;
    font-weight: 650;
    font-size: 0.8rem;
}

.signup:hover{
   background-color: rgb(228,60,62);
   cursor: pointer;
}

/* HERO SECTION  */
.container {
    display: flex;
    padding: 4rem 5rem 2rem 5rem;
    justify-content: space-between;
    background: linear-gradient(90deg, #fff 60%, #ffeaea 100%);
}


.image {
    display: flex;

    border-radius: 2rem;
    margin-top: 2.5rem;
    height: 18rem;
    width: 28rem;
}

.heading {
    font-size: 3rem;
    padding-top: 0.5rem;
}

.para {
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

.heroimage {
    display: flex;
    justify-content: center;
    margin-right: 170px;
}


.button1 {
    /* display: flex; */
    justify-content: center;
    margin-top: 2.5rem;
    height: 3.2rem;
    width: 10.3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgb(255, 77, 79);
    font-weight: 750;
    border: none;
}
.button1:hover{
    background-color: rgb(228,60,62);
    cursor: pointer;
}

.container1 {
    display: flex;
    justify-content: center;
}

.location::placeholder {
    font-size: 1rem;
}

.location {
    display: flex;
    border: 1px solid black;
    width: 18rem;
    height: 2.8rem;
    border-radius: 0.5rem;
    border-color: rgb(238, 238, 238);

}

.searchbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 55rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
}

.foodCategories {
    height: 2.8rem;
    width: 19rem;
    border-radius: 0.5rem;
    border: 1px solid;
    border-color: rgb(238, 238, 238);
    font-size: 1rem;
}

.search {
    width: 6.5rem;
    height: 2.8rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 77, 79);
    color: white;
    font-weight: 700;
    border: none;
}
.search:hover{
    background-color: rgb(228,60,62);
    cursor: pointer;
}

/* BROWSE BY CATEGORY */
.heading1 {
    /* margin-top: 4rem; */
    margin-left: 8rem;
    margin-bottom: 2rem;
}

.gridcontainer {
    background-color: #f8f8f8;
    padding: 2rem 4rem;
}

.categorygrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    background: color #f8f8f8;
    column-gap: 1rem;
    margin: 0rem 5rem;

}

.card {
    background-color: white;
    /* background-color: red; */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    height: 7rem;
    /* width: 12rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: 1s;
}
.card:hover{
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 6px 24px rgba(255,77,79,0.10);
}

.catImage {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

span {
    margin-top: 0.7rem;
}

/* FEATURED RESTURANTS  */

.heading2 {
    margin-bottom: 1.5rem;
}

.restcontainer {
    padding: 3rem 5rem;
    background-color: #f8f8f8;
}

.resturant-card {
    background-color: white;
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 16.95rem;
    border-radius: 1rem;
    overflow: hidden;
}

.restgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    column-gap: 1.5rem;

}

.resturant {
    overflow: hidden;
    width: 100%;
    height: 9rem;
    object-fit: cover;
}

.resturantinfo {
    padding: 1rem;
    display: flex;
    flex-direction: column;


}

.rating {
    color: #FFB400;
    font-weight: 600;
}

.tags {
    margin-bottom: 0.8rem;
}

h3 {
    margin-bottom: 0.8rem;
}

/* PROMO OFFERS  */
.offercontainer {
    background: linear-gradient(90deg, #ffeaea 60%, #fff 100%);
    padding: 2rem 4rem;
}

.heading3 {
    margin-bottom: 2rem;

}

.offercard {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.promocard {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
    height: 3.9rem;
    width: 25rem;
    gap: 1rem;
    border-radius: 1rem;

}

.text {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.logo1 {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
}

/* CUSTOMER REVIEW  */
.reviewcontainer {
    padding: 2rem 4rem;
}

.reviewgrid {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5rem; */
    background-color: white;
    column-gap: 2rem;

}

.reviewcard {
    background-color: #ffeaea;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    /* width: 18rem; */
    height: 15.5rem;
    padding: 1.5rem 1.25rem;
    max-width: 17.5rem;
    text-align: center;

}

.profile {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    /* margin-top: 1.5rem; */
}

.ratings {
    color: #FFB400;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.name {
    font-weight: 650;
    margin-top: 0.7rem;
}

.heading4 {
    margin-bottom: 2rem;
}

/* GET APP  */
.appcontainer {
    padding: 2rem 4rem;
    background: linear-gradient(90deg, #fff 60%, #ffeaea 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20rem;
}

.heading5 {
    margin-bottom: 1.5rem;
}

.logo2 {
    width: 2.7rem;
    height: 2.7rem;
}

.applogo {
    margin-top: 1.3rem;
    display: flex;
    gap: 7rem;
    margin-left: 3.5rem;
}

.phonelogo {
    height: 8rem;
    width: 8rem;
}

/* FOOTER  */
footer {
    background-color: #222;
    padding: 2rem 4rem 0.8rem 2rem;
    padding-left: 5rem;
    margin-top: 2rem;
}

.footercontainer {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    justify-content: space-between;
}

.citiesserved {
    flex: 1;
    color: #f8f8f8;
}

h4 {
    color: #ff4d4f;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.followlogo {
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbb;
    margin-top: 1rem;
    font-size: 0.95rem;
}

/* MEDIA QUERIES  */
/* NAVBAR  */
@media(max-width:800px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        /* width: 100%; */
    }

    .menu {
        display: none;
    }

    .button {
        display: none;
    }

    .menu-icon {
        display: flex;
        justify-content: end;
    }

    .header {
        max-width: 5rem;
        width: 100%;
    }
}

/* HERO CONTENT  */
@media(max-width: 950px) {
    .container {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0rem;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .image {
        height: 15rem;
        width: 22rem;
    }

    .heading {
        /* margin-left: 4.5rem; */
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
        display: flex;
        justify-content: center;
    }

    .para {
        padding-top: 0.5rem;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

}



/* SEARCHBAR  */
@media(max-width: 800px) {
    .searchbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        width: 40rem;
        height: 20rem;
        margin-top: 2rem;
    }

    .location {
        margin-top: 0.5rem;
        width: 19rem;
    }

    .search {
        margin-top: 1rem;
        width: 20rem;
        height: 2.5rem;

    }


}

/* REVIEW CARDS MEDIA  */
@media(max-width: 800px) {
    .reviewcontainer {
        padding: 2rem 4rem;
    }

    .reviewgrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .reviewcard {
        display: flex;
    }

    .profile {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
    .heading4{
        padding-left: 2rem;
    }
}

@media (max-width:887px) {
    .heroimage {
        margin-right: 0px;
    }
}

@media (min-width:800px) and (max-width:1024px){
   .name{
    margin-top: 0.4rem;
}
.content{
    font-size: 0.8rem;
}
}

/* BROWSE BY CATEGORY  */

@media (max-width:887px) {
    .heading1 {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    padding-right: 7rem;
}
.categorygrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    
}
.gridcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}

/* RESTURANT  */
@media (max-width:887px) {
.heading2{
    padding-left: 1.4rem;
    margin-bottom: 1.5rem;
}
.restgrid {
    justify-content: center;   
}
}

/* GET APP  */ 
@media (max-width:887px) {
 .appcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}
}
@media (min-width:800px) and (max-width:1024px){
    .appcontainer{ 
        gap: 10rem;
        justify-content: center;
}
}

/* FOOTER  */
@media (max-width:887px) {
    footer {
    background-color: #222;
    padding-left: 2rem;
    }

.footercontainer {
    flex-direction: column;
    gap: 2rem;
}

.copyright {
    margin-top: 10rem;   
}
}

